.card{
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 30vh;
    margin: auto;
}
.personInfo{
    text-align: center;
    color: rgb(1, 1, 34);
    font-size: 28px;
}
.text span{
    font-size: 24px;
}